beautifulsoup4
certifi
chardet
codegen
coreapi
coreschema
dj-static
Django
django-appconf
django-compressor
django-rest-framework-docs
django-rest-swagger
djangorestframework
djangorestframework-jwt
drf-nested-routers
gunicorn
idna
itypes
Jinja2
jsonpickle
MarkupSafe
openapi-codec
patterns
psycopg2
pubnub
pycryptodomex
PyJWT
pytz
requests
simplejson
six
static3
uritemplate
urllib3