{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'loyali/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'loyali/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'loyali/scss/style.scss' %}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Menu</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static 'loyali/images/croc.png' %}" draggable="false" class="img-responsive"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                <li><a>{{ request.user.username }}</a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}"><i class="glyphicon glyphicon-email"></i> Contact Us</a></li>
                <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="ly-middle-content">
    <div class="container">
        <div class="ly-middle-content-in">
            <div class="ly-box-title"><h1>Administrator Options</h1></div>
            <div class="row ly-btn-row">
                <div class="col-sm-4">
                    <a href="{% url 'vendor_add' %}" class="btn btn-default btn-big btn-block">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span>Add new Vendor</span>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="{% url 'add_admin' %}" class="btn btn-default btn-big btn-block">
                        <i class="fa fa-user-plus "></i>
                        <span>Add new User</span>
                    </a>
                </div>

                <div class="col-sm-4">
                    <!-- Hidden input that will store the token and be able to post info-->
                    <a href="{% url 'view_vendors' %}" class="btn btn-default btn-big btn-block">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>View Vendors</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'loyali/js/jquery.min.js' %}"></script>
<script src="{% static 'loyali/js/bootstrap-select.js' %}"></script>
<script src="{% static 'loyali/js/bootstrap.min.js' %}"></script>
<script src="https://use.fontawesome.com/b0f81c296e.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.btn-file input').change(function(){
            var filename = $(this).val().replace(/.*(\/|\\)/, '');
            $(this).next('span').text(filename);
        })
    })
</script>
</body>
</html>